<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
<table style="width:25%">
  <tr>
    <th>ID Brand</th>
    <th>Name</th>
    <th>Type</th>
    <th>Action</th>
  </tr>
  <tr th:each="brand : ${listBrand}">  
  	<td th:text="${brand.id}"/>
  	<td th:text="${brand.name}"/>
  	<td th:text="${brand.type}"/>
  	<td>
  		<button type="button">
  			Edit
  		</button>
  		<button type="button">
  			Delete
  		</button>
 	</td>
  </tr>
</table> 
</body>
</html>